html,
body {
    height: 100%;
    margin: 0;
        padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
    /* メインコンテンツを広げる */
    display: flex;
    flex-direction: column;
}

.header {
    background: #ffffff;
}

.header__inner {
    height: 30px;
    margin: 0 auto;
    padding: 10px 15px;
    align-items: center;
    display: flex;
}

.header__logo {
    text-decoration: none;
    color: #F5C800;
    font-weight: normal;
    font-size: 30px;
    font-family: serif;
}

/* コンテンツ */
.content {
    flex-grow: 1;
        /* コンテンツ部分を広げる */
        justify-content: center;
        padding: 20px;
        background: #f8f8f8;
}

.error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

/* ボタン */
.btn {
    display: block;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input,textarea {
    border: 1px solid #E3E2E1;
    background-color: #ffffff;
    outline: none;
    box-shadow: none;
    padding: 10px;
}

/* file input に対して特別なスタイルを追加 */
input[type="file"] {
    border: none;
    /* border を消す */
    background-color: transparent;
    /* 背景色を透明に */
    outline: none;
    /* outline を消す */
    box-shadow: none;
    /* box-shadow を消す */
}

input::placeholder, 
textarea::placeholder{
    color: #E8E7E6;
}

label {
    color: #4B4B4B;
}