.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.products-header h2 {
    margin: 0;
    padding-left: 30px;
}

.add-product-btn {
    background-color: #FFA929;
    padding: 4px 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.add-product-btn:hover {
    background-color: #DF9425;
}

.products-body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.search-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 300px;
    padding: 4px;
    border: none;
    margin: 0 auto;
}

.search-input {
    padding: 8px 12px;
    height: 30px;
    border-radius: 50px;
    font-size: 14px;
    width: 100%;
}

.search-btn {
    background-color: #F5C800;
    padding: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 20px;
}

.search-btn:hover {
    background-color: #DDB400;
}

.sort-label {
    margin-top: 20px;
    margin-right: 120px;
    color: black;
}

.sort-select {
    margin-top: 10px;
    padding: 4px 8px;
    height: 40px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #E3E2E1;
    background-color: #ffffff;
}

.sort-btn {
    background-color: #F5C800;
    padding: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 20px;
}

.sort-select option {
    color: #8E8E8E;
}

.sort-select option[value=""] {
    color: #4B4B4B;
}

.filter-tags {
    margin-top: 15px;
}

.filter-tag {
    display: inline-block;
    margin-right: 8px;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #FBEA9F;
    color: #4B4B4B;
}

.remove-filter {
    display: inline-block;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #FBEA9F;
    text-decoration: none;
    border: 2px solid #FBEA9F;
    border-radius: 50%;
}

.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #E0DFDE;
    margin: 20px 0;
}

.products-grid {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-content: center;
    align-items: start;
}

.product-card {
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.product-card img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    box-sizing: border-box;
    overflow: hidden;
}

.pagination {
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination li:not(.active) {
    background-color: #FFF;
    padding: 8px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li:not(.active):hover {
    background-color: #E0DFDE;
}

.pagination a {
    color: #8B7969;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px;
}

.active {
    background-color: #F5C800;
    color: #FFF;
    padding: 8px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li::marker,
li.disabled::marker,
li.active::marker {
    content: none;
}