.container {
    width: 40vw;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.label-container {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 14px;
}

label {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.required {
    color: #ffffff;
    background-color: red;
    border: none;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optional {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.radio-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.radio-style input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5px;
    background-color: #fff;
}

.radio-style input[type="checkbox"]:checked {
    background-color: #4B4B4B;
    border-color: #4B4B4B;
}

.radio-style input[type="checkbox"]:checked::before {
    content: "✓";
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 32px;
}

.btn {
    padding: 0px;
    height: 40px;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 20px;
}

.back-btn {
    background-color: #E0DFDE;
}

.back-btn:hover {
    background-color: #e0dfdecc;
}

.submit-btn {
    background-color: #F5C800;
}

.submit-btn:hover {
    background-color: #DDB400;
}